@model LegnicaIT.JwtManager.Models.FormModel<LegnicaIT.JwtManager.Models.User.EditUserDetailsViewModel>

@using (Html.BeginForm(FormMethod.Post, true))
{
    @Html.Partial("User/UserForm", Model)
<br/>
    <div align="center" style="margin-right:130px">
        <input  type="submit" class="btn btn-primary btn-lg jwt-btn-big" value="Edit"/>
    </div>
}