@using LegnicaIT.JwtManager.Models
@using LegnicaIT.JwtManager.Services.Interfaces
@model FormModel<LegnicaIT.JwtManager.Models.User.EditUserDetailsViewModel>
@inject ISessionService<LoggedUserModel> LoggedUserSessionService
@{
    var LoggedUser = LoggedUserSessionService.GetItem();
}

@Html.Partial("User/UserForm", Model)

<br/>
<div align="center">
@Html.ActionLink("Change password", "ChangePassword", "User", null, new { @class = "btn btn-primary"})

@Html.ActionLink("Edit", "Edit", "User", new { id = LoggedUser.UserModel.Id }, new { @class = "btn btn-primary", style = "margin-left:20px" })
</div>