@model LegnicaIT.JwtManager.Models.FormModel<LegnicaIT.JwtManager.Models.AppViewModel>

@using (Html.BeginForm(FormMethod.Post, true, new { @class = "form-horizontal" }))
{
    @Html.Partial("Application/ApplicationForm", Model)

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-lg btn-primary" type="submit" id="btnAdd">Add</button>
        </div>
    </div>
}
