@model LegnicaIT.JwtManager.Models.FormModel<LegnicaIT.JwtManager.Models.AppViewModel>

@using (Html.BeginForm(FormMethod.Post, true))
{
    @Html.Partial("Application/ApplicationForm", Model)

    <button class="btn btn-lg btn-primary" type="submit">Edit</button>
}
