@model LegnicaIT.JwtManager.Models.FormModel<LegnicaIT.JwtManager.Models.AppViewModel>

@using (Html.BeginForm(FormMethod.Post, true))
{
    @Html.Partial("Application/ApplicationForm", Model)

    <br/>
    <div align="center" style="margin-right:214px">
    <button class="btn btn-lg btn-primary" type="submit">Edit</button>
    </div>
}
