@using LegnicaIT.JwtManager.Models
@if (ViewData.ContainsKey("LoggedUser"))
{
    var LoggedUser = (UserAppModel)ViewData["LoggedUser"];

    <form asp-area="" asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="User" asp-action="Me" title="Manage">Hello @LoggedUser.UserModel.Name!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="Auth" asp-action="Register">Register</a>
        </li>
        <li>
            <a asp-controller="Auth" asp-action="Login">Log in</a>
        </li>
    </ul>
}