@using LegnicaIT.BusinessLogic.Models
@using LegnicaIT.JwtManager.Models
@using LegnicaIT.JwtManager.Services.Interfaces

@inject ISessionService<LoggedUserModel> LoggedUserSessionService
@if (LoggedUserSessionService.ContainsItem())
{
    List<AppModel> ListOfApps = new List<AppModel>();
    var LoggedUser = LoggedUserSessionService.GetItem();

    ListOfApps = (List<AppModel>)ViewData["apps"];

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Switch App<span class="caret"></span></a>
            <ul class="dropdown-menu">
                @{
                    if (LoggedUser != null && ListOfApps.Any())
                    {
                        foreach (var app in ListOfApps)
                        {
                            <li>
                                @if (LoggedUser.AppId != app.Id)
                                {
                                    using (Html.BeginForm("SwitchApp", "Auth", new { appId = app.Id }, FormMethod.Post))
                                    {
                                        <button type="submit" class="btn btn-lg btn-block">@app.Name</button>
                                    }
                                }
                                else
                                {
                                    using (Html.BeginForm("Details", "Application", new { id = app.Id }, FormMethod.Post))
                                    {
                                        <button type="submit" class="btn btn-lg btn-block btn-danger">@app.Name</button>
                                    }
                                }
                            </li>
                        }
                    }
                }
            </ul>
        </li>
    </ul>

                    using (Html.BeginForm("Logout", "Auth", null, FormMethod.Post, true, new { @class = "navbar-right", id = "logoutForm" }))
                    {

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a asp-area="" asp-controller="User" asp-action="Me" title="Manage">Hello @LoggedUser.UserModel.Name!</a>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                            </li>
                        </ul>
                        }
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a asp-controller="Auth" asp-action="Register">Register</a>
                            </li>
                            <li>
                                <a asp-controller="Auth" asp-action="Login">Log in</a>
                            </li>
                        </ul>
                    }